numpy
absl-py
anaconda-navigator
anaconda-project
astropy
autoviz
backports.shutil-get-terminal-size
bitarray
bkcharts
blaze
bokeh
boto
bottleneck
bs4
cached-property
chardet
conda-build
contextlib2
cytoolz
distributed
fastcache
gensim
gevent
google-auth-oauthlib
grpcio
h5py
imageio
jupyterlab
keras
lxml
markdown
menuinst
mkl-fft
mkl-random
mpmath
msgpack-python
mysql-connector-python
navigator-updater
nltk
nose
numba
numpydoc
olefile
opencv-python
openpyxl
partd
path.py
pathlib2
patsy
pep8
pip-chill
plotly
ply
prettytable
pycodestyle
pycosat
pycrypto
pycurl
pyflakes
pylint
pyodbc
pyopenssl
pysocks
pytest-astropy
pywinpty
qtawesome
rope
scikit-image
singledispatch
sortedcollections
spyder
streamlit
sympy
tables
tensorboard-data-server
tensorboard-plugin-wit
tqdm
typing
unicodecsv
win-inet-pton
win-unicode-console
wincertstore
xlrd
xlsxwriter
xlwings
xlwt
